*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: 0 auto;
}

.row{
    font-size: 0px;
    padding: 5%;
}
.box{
    width:calc(100% / 3 - 20px);
    height: 700px;
    background-color: aqua;
    display: inline-block;
    margin: 10px;
    font-size: 0;

}

.box-layover{
    width:100%;
    height: 100%;
    display: inline-block;
    background-color: blueviolet;
    display: none;
    font-size: 0;
}



.box:hover .box-layover{
    display: block;
}