*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: 0 auto;
}
img{
    width: auto;
    height: 700px;
}
.box{
    height: 700px;
    width: calc(100% / 3 - 25px);
    display: inline-block;
    margin: 10px;
    padding: 30px;

}

.overlay{
    width: 100%;
    height: 100%;
    display: inline-block;
    display: none;
}

.box:hover .overlay{
    display: block;
    
}