*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: 30px auto;
    font-size: 0;
}

.text{
   margin-left: 5px;
   margin-bottom: 20px;
   font-size: 16px;
 }


.box-container{
    display: inline-block;
    margin: 20px;
    width: calc(100% / 3)( - 40px);
}
img{
    width: 100%;
    height: 100%;
}

.box{
    width: 350px;
    height: 500px;
    background-color: bisque;
    display: inline-block;
    position: relative;
    font-size: 15px;
}

.box-2{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(176, 128, 55);
    display: none;
    position: absolute;
    bottom: 0;
}

.box:hover .box-2{
    display: block;
}
.red-price{
    color: red;
}
.text-grey{
    color: grey;
}
.heart{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

.sale{
    width: 50px;
    height: 30px;
    background-color: red;
    font-weight: bold;
    bottom: 30px;
    left: 0;
    position: absolute;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 1px;
}


.sostenible{
    width: 100px;
    height: 30px;
    background-color: green;
    position: absolute;
    bottom: 30px ;
    left: 60px;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.sostenible1{
    width: 100px;
    height: 30px;
    background-color: green;
    position: absolute;
    bottom: 30px ;
    left: 0px;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}