*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
    width: 90%;
}

.box{
    display: inline-block;
    margin: 10px;
    width: calc(100% / 3) - 20px);
    position: relative;
}

img{
    width: 500px;
}

s, .brand-text{
    color: gray;
}
.red-price{
    color: red;
}

.heart{
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 0px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: white;
}