*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: 0 auto;
}

.text{
   margin-left: 5px;
   margin-bottom: 20px;
 }


.box-container{
    width: calc(100% / 3 - 50px); 
    display: inline-block;
    margin:;

}

.box{
    width: 450px;
    height: 700px;
    background-color: bisque;
    display: inline-block;
    position: relative;
}

.box-2{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(176, 128, 55);
    display: none;
    position: relative;
}

.box:hover .box-2{
    display: block;
}
.red-price{
    color: red;
}
.text-grey{
    color: grey;
}
.heart{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

.heart:hover{
    color: red;
}

.sale{
    width: 50px;
    height: 30px;
    background-color: red;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 1px;
}
.sostenible{
    width: 100px;
    height: 30px;
    background-color: green;
    position: absolute;
    bottom: 30px ;
    left: 60px;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;


}