*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin:0 auto;
}


.box{
    width: calc(100% / 3) - 4);
   display: inline-block;
   height: 200px;
   margin:20px
}

.foto3{
    width: 640px;
}