*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: 0 auto;
}

/* .box{
    width:calc(100% / 3 - 30px);
    height: 700px;
    background-color: aqua;
    display: inline-block;
    margin: 10px;
    font-size: 0;
    position: relative;

} */
.img1{
    width:calc(100% / 3 - 30px);
    height: 700px;
    background-color: aqua;
    display: inline-block;
    margin: 10px;
    font-size: 0;
    position: relative;
}

}

/* .box-layover{
    width:100%;
    height: 100%;
    display: inline-block;
    background-color: blueviolet;
    position: absolute;
    font-size: 0;
    display: none; */
}
.img2{
    width:100%;
    height: 100%;
    display: inline-block;
    background-color: blueviolet;
    position: absolute;
    font-size: 0;
    display: none;
}


.img1:hover .img2{
  display: block;
}